In [60]:
import pandas as pd
import numpy as np

Rtn_fac = pd.read_excel(r"E:\HKUST_CLASS\22spring\Investment_Model\project2\Rtn_fac.xlsx")
ST=pd.read_excel(r"E:\HKUST_CLASS\22spring\Investment_Model\project2\SPX_Daily Last Price.xlsx")
Rtn_fac=Rtn_fac.drop(columns='Unnamed: 0')
ST.head()

,DATES,LYB UN Equity,SBNY UW Equity,AXP UN Equity,VZ UN Equity,AVGO UW Equity,BA UN Equity,CAT UN Equity,JPM UN Equity,CVX UN Equity,...,ALGN UW Equity,ILMN UW Equity,LKQ UW Equity,NLSN UN Equity,ZTS UN Equity,EQIX UW Equity,DLR UN Equity,LVS UN Equity,MOH UN Equity,DISCK UW Equity
0,2019-01-02,83.89,104.50,95.68,56.02,253.51,323.81,126.38,99.31,110.69,...,202.12,294.52,23.70,23.53,84.48,350.00,103.19,54.16,112.89,23.83
1,2019-01-03,82.26,105.66,93.43,56.22,230.96,310.90,121.51,97.11,108.57,...,184.78,284.24,22.91,23.36,81.56,345.94,102.67,52.22,105.90,23.89
2,2019-01-04,86.70,107.22,97.64,56.36,233.23,327.08,128.15,100.69,110.82,...,186.71,302.69,23.83,24.45,84.76,353.79,104.81,55.17,109.66,24.35
3,2019-01-07,86.94,109.30,98.17,56.72,237.98,328.11,128.23,100.76,112.26,...,189.92,307.89,24.17,25.00,85.27,354.50,106.20,55.47,117.75,24.70
4,2019-01-08,88.61,111.40,98.65,58.38,236.07,340.53,129.77,100.57,111.77,...,192.95,293.75,24.82,25.41,86.54,361.86,107.34,56.58,128.31,25.20

In [43]:
# VaR Analysis
# Monthly performance
Rel_perf=Rtn_fac["Low"]-Rtn_fac["SPX Index"]
mon_perf=pd.DataFrame({"DT":Rtn_fac["DT"],"Long_perf":Rtn_fac["Low"],"BM":Rtn_fac["SPX Index"],"Rel_perf": Rel_perf})
mon_perf["Annualized_return"]=''
mon_perf["Annualized_vol"]=''
mon_perf["TE"]=''
mon_perf.loc[0,"Annualized_return"]=mon_perf.Long_perf.mean()*12
mon_perf.loc[0,"Annualized_vol"]=(mon_perf.Long_perf.var()*12)**0.5
mon_perf.loc[0,"TE"]=(mon_perf.Rel_perf.var()*12)**0.5
mon_perf.head()
outputpath=r"E:\HKUST_CLASS\22spring\Investment_Model\project2\Risk_Analysis.xlsx"
mon_perf.to_excel(outputpath,sheet_name="Monthly Performance",index="True",header="True")

In [44]:
# Calculate the subsequent 1-day-return for every stock in S&P 500
ST["DATES"]=pd.to_datetime(ST["DATES"]).dt.date
for i in range(ST.shape[0]-1):
    ST.iloc[i,1:] = (ST.iloc[i+1,1:]-ST.iloc[i,1:] )/ST.iloc[i,1:]
ST = ST.drop(ST.index[-1])
ST=ST.fillna(0)
ST.tail()

,DATES,LYB UN Equity,SBNY UW Equity,AXP UN Equity,VZ UN Equity,AVGO UW Equity,BA UN Equity,CAT UN Equity,JPM UN Equity,CVX UN Equity,...,ALGN UW Equity,ILMN UW Equity,LKQ UW Equity,NLSN UN Equity,ZTS UN Equity,EQIX UW Equity,DLR UN Equity,LVS UN Equity,MOH UN Equity,DISCK UW Equity
790,2022-02-18,-0.002804,0.016883,-0.012521,0.001300,-0.004362,-0.049227,-0.003855,-0.001775,-0.007645,...,-0.009105,0.025291,-0.021761,-0.013865,-0.006377,-0.017563,0.005917,-0.036078,-0.022835,-0.055481
791,2022-02-22,-0.011049,-0.027544,-0.018136,-0.009091,-0.021248,-0.011674,-0.023744,-0.020939,0.023792,...,-0.023173,-0.014319,-0.054262,-0.026948,-0.015992,-0.009754,-0.027721,-0.005945,-0.012188,0.000712
792,2022-02-23,-0.040626,-0.017556,-0.003175,-0.015353,0.026204,0.010233,-0.010607,-0.027843,-0.005164,...,0.054883,0.027372,0.009672,0.014449,0.020795,0.046519,0.015957,-0.034773,0.011845,-0.015653
793,2022-02-24,0.037476,0.074578,0.028458,0.029093,0.013810,0.015371,0.012832,0.023660,0.041009,...,0.006697,0.017227,0.045722,0.042730,0.019691,0.014529,0.026500,0.021570,0.035151,0.017347
794,2022-02-25,-0.007857,-0.014572,0.004285,-0.008315,-0.000969,0.019158,0.002780,-0.041698,0.025787,...,-0.002146,-0.008771,-0.022486,-0.008537,-0.005444,-0.008397,-0.021610,-0.037287,-0.036031,-0.006394

In [45]:
# VaR
# calculate 1-day return 
# Since data is too much, we only use the data from 2019
W=pd.read_excel(r"E:\HKUST_CLASS\22spring\Investment_Model\project2\Weight.xlsx",sheet_name="Sheet4")
W=W.fillna(0)
W["DATES"]=pd.to_datetime(W["DATES"]).dt.date
W.head()

,DATES,LYB UN Equity,SBNY UW Equity,AXP UN Equity,VZ UN Equity,AVGO UW Equity,BA UN Equity,CAT UN Equity,JPM UN Equity,CVX UN Equity,...,ALGN UW Equity,ILMN UW Equity,LKQ UW Equity,NLSN UN Equity,ZTS UN Equity,EQIX UW Equity,DLR UN Equity,LVS UN Equity,MOH UN Equity,DISCK UW Equity
0,2019-01-01,0.000000,0.0,0.005892,0.016808,0.000000,0.013251,0.005426,0.023489,0.0,...,0.001212,0.0,0.0,0,0.000000,0.002051,0,0.002951,0,0.001265
1,2019-02-01,0.000000,0.0,0.005903,0.015438,0.000000,0.014859,0.005332,0.023354,0.0,...,0.001351,0.0,0.0,0,0.002809,0.002149,0,0.003103,0,0.000000
2,2019-03-01,0.000000,0.0,0.006069,0.015708,0.007285,0.016602,0.005279,0.022821,0.0,...,0.001384,0.0,0.0,0,0.000000,0.002361,0,0.003180,0,0.000000
3,2019-04-01,0.002323,0.0,0.006824,0.018186,0.008860,0.016026,0.005804,0.024671,0.0,...,0.001693,0.0,0.0,0,0.000000,0.002823,0,0.003517,0,0.000000
4,2019-05-01,0.000000,0.0,0.006748,0.016303,0.008687,0.014647,0.005495,0.025979,0.0,...,0.001790,0.0,0.0,0,0.000000,0.002635,0,0.003571,0,0.000000

In [46]:
rtn=pd.DataFrame({"DT":ST["DATES"]})
rtn["1_day_rtn"]=''
for i in range(ST.shape[0]):
    for j in range(W.shape[0]):
        if ST.loc[i,"DATES"].year==W.loc[j,"DATES"].year and ST.loc[i,"DATES"].month==W.loc[j,"DATES"].month:
            rtn.loc[i,"1_day_rtn"]=sum(ST.iloc[i,1:]*W.iloc[j,1:])
writer=pd.ExcelWriter(outputpath,mode='a',engine='openpyxl',if_sheet_exists='new')
rtn.to_excel(writer,sheet_name='1 day return')
writer.save()
writer.close()
# Other VaR Analysis is done in the excel 'Risk_output', sheet_name='VaR'

In [61]:
# Factor model
# Use 40 months monthly data
Rtn_fac=Rtn_fac.drop(columns='Low')
Rtn_fac_O= Rtn_fac.copy(deep=True)
Rtn_fac=Rtn_fac.tail(41)
Rtn_fac.drop(Rtn_fac.tail(1).index,inplace=True)
Rtn_fac.shape

(40, 20)

In [48]:
# Orthogonalization
def regress(X,Y):
    X_inv=pd.DataFrame(np.linalg.pinv(X.values),X.columns,X.index)
    B= X_inv.dot(Y)
    resids=Y-X.dot(B)
    factors=pd.concat([X,resids],axis=1)
    return factors,B

MKT=['SPX Index', 'VIX Index', 'SPX Index Volume']
SCT=['Energy', 'Materials', 'Industrials', 'Consumer Discretionary', 'Consumer Staples', 'Health Care', 'Financials','Information Technology', 'Telecommunication Services', 'Utilities','Real Estate']
MACRO=['USGG10YR Index','USGG12M Index', 'USO US Equity', 'CONSSENT Index']
STY=['Short Interest']

# è¾“å…¥time seriesä¸º40çš„Return factorï¼Œè¿”å›žæ­£äº¤åŒ– 
def orthognal(Rtn_fac):
    fac_orth,Beta1=regress(pd.DataFrame({'intercept':1,'SPX Index':Rtn_fac['SPX Index'],'VIX Index':Rtn_fac['VIX Index'],'SPX Index Volume':Rtn_fac['SPX Index Volume']}),Rtn_fac[SCT])
    fac_orth,Beta2=regress(fac_orth,Rtn_fac[STY])
    fac_orth,Beta2=regress(fac_orth,Rtn_fac[MACRO])
    fac_orth=fac_orth.drop(labels='intercept',axis=1)
    return fac_orth

fac_orth=orthognal(Rtn_fac)
writer=pd.ExcelWriter(outputpath,mode='a',engine='openpyxl',if_sheet_exists='new')
fac_orth.corr().to_excel(writer,sheet_name='fac_corr')
writer.save()
writer.close()

In [79]:
# Prepare the stock return data
## Attentionï¼šWe have directly deleted one stock called CEG UW Equity in the excel file, since it can not calculate the 3mon avg ratio for Short interest ratio.
last_p=pd.read_excel(r"E:\HKUST_CLASS\22spring\Investment_Model\project2\Data_original.xlsx",sheet_name='SPX_Last Price')
for i in range(last_p.shape[0]-1):
    last_p.iloc[i,1:] = (last_p.iloc[i+1,1:]-last_p.iloc[i,1:] )/last_p.iloc[i,1:]
last_p=last_p.drop(last_p.index[-1])
last_p=last_p.set_index(["DATES"])
last_p.columns=pd.Index(last_p.columns,name="STOCK_NAME")
last_p=last_p.tail(41)
last_p.drop(last_p.tail(1).index,inplace=True)
# Impute the missing data with sector return
Return=last_p.stack(dropna=False).to_frame().reset_index()
Return.columns=['DT','NAME','Return']
Return.head()
Return.groupby('DT').count().head()

            NAME  Return
DT
2018-09-28   504     483
2018-10-31   504     483
2018-11-30   504     485
2018-12-31   504     488
2019-01-31   504     488

In [80]:
# Fill the Na return with sector return
sector=pd.read_excel(r"E:\HKUST_CLASS\22spring\Investment_Model\project2\Data_original.xlsx",sheet_name='SPX_GICS')
sector=sector[['STOCK_NAME','Sector_name']]
sector.columns=['NAME','Sct']
sector.head()

             NAME                         Sct
0   LYB UN Equity                   Materials
1  SBNY UW Equity                  Financials
2   AXP UN Equity                  Financials
3    VZ UN Equity  Telecommunication Services
4  AVGO UW Equity      Information Technology

In [81]:
Return=Return.merge(sector,how='left',left_on='NAME',right_on='NAME')
rtn_sct=Rtn_fac[['DT']+SCT]
rtn_sct=pd.melt(rtn_sct,id_vars='DT')
rtn_sct.columns=['DT','Sct','rtn_sct']
Return=Return.merge(rtn_sct,how='left',left_on=['DT','Sct'],right_on=['DT','Sct'])

import math
Return['Return']=[y if math.isnan(x) else x for x,y in zip(Return.Return,Return.rtn_sct)]
Return.head()

          DT            NAME    Return                         Sct   rtn_sct
0 2018-09-28   LYB UN Equity -0.129158                   Materials -0.095943
1 2018-09-28  SBNY UW Equity -0.043016                  Financials -0.047193
2 2018-09-28   AXP UN Equity -0.035308                  Financials -0.047193
3 2018-09-28    VZ UN Equity  0.069301  Telecommunication Services -0.069791
4 2018-09-28  AVGO UW Equity -0.094192      Information Technology -0.083236

In [82]:
Return=Return.pivot(index='DT',columns='NAME',values='Return')
fac_orth.index=Return.index
resid,beta=regress(fac_orth,Return)
beta.head()

NAME,A UN Equity,AAL UW Equity,AAP UN Equity,AAPL UW Equity,ABBV UN Equity,ABC UN Equity,ABMD UW Equity,ABT UN Equity,ACN UN Equity,ADBE UW Equity,...,WYNN UW Equity,XEL UW Equity,XOM UN Equity,XRAY UW Equity,XYL UN Equity,YUM UN Equity,ZBH UN Equity,ZBRA UW Equity,ZION UW Equity,ZTS UN Equity
SPX Index,0.983778,1.146189,0.983599,2.080986,0.552761,0.629947,0.838973,0.755476,1.426338,1.466569,...,1.759646,0.423930,0.774425,0.598967,0.865205,1.073617,0.579742,1.746095,1.082904,1.046787
VIX Index,-0.034505,-0.095262,-0.003838,0.119315,-0.034761,-0.018770,-0.083648,-0.012198,-0.012356,0.068608,...,-0.053095,-0.006871,-0.033736,-0.067178,-0.035829,0.012024,-0.049313,0.022686,0.010369,0.031906
SPX Index Volume,0.032256,0.023017,-0.078674,0.098296,-0.016116,0.113254,-0.048611,0.029662,0.087687,0.033118,...,-0.187993,0.022441,-0.081760,-0.007674,-0.037455,-0.049714,-0.148978,-0.011494,-0.125558,0.019956
Energy,-0.288624,-0.113070,0.057831,-0.084658,0.310387,0.029935,0.029721,0.144029,-0.043246,-0.350679,...,0.554228,0.035052,0.976183,0.244725,-0.258278,0.444495,0.497543,0.285262,0.055923,-0.177023
Materials,-0.091546,-0.390682,0.323837,-0.233207,1.058132,-0.690851,-0.069686,0.500677,0.087115,-0.745415,...,0.827650,-0.054120,-0.400972,0.322558,0.191637,1.512417,0.318861,0.963279,-0.237690,0.671584

In [83]:
# Calculate idiosyncratic variance matrix: D
def idio_var_mat(resid):
    K=1+len(SCT)+len(STY)+len(MACRO)
    var_ido=resid.drop(labels=MKT+SCT+STY+MACRO,axis=1).apply(lambda x:sum(x**2)/(60-K),axis=0)
    var_ido=pd.DataFrame(np.diag(var_ido),var_ido.index,var_ido.index)
    return var_ido
var_ido=idio_var_mat(resid)
var_ido.head()

,A UN Equity,AAL UW Equity,AAP UN Equity,AAPL UW Equity,ABBV UN Equity,ABC UN Equity,ABMD UW Equity,ABT UN Equity,ACN UN Equity,ADBE UW Equity,...,WYNN UW Equity,XEL UW Equity,XOM UN Equity,XRAY UW Equity,XYL UN Equity,YUM UN Equity,ZBH UN Equity,ZBRA UW Equity,ZION UW Equity,ZTS UN Equity
A UN Equity,0.00078,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAL UW Equity,0.00000,0.004742,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAP UN Equity,0.00000,0.000000,0.00153,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAPL UW Equity,0.00000,0.000000,0.00000,0.000684,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ABBV UN Equity,0.00000,0.000000,0.00000,0.000000,0.003532,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
# calculate factor loading
weight=pd.read_excel(r"E:\HKUST_CLASS\22spring\Investment_Model\project2\Weight.xlsx",sheet_name="Sheet5").set_index('NAME')
weight=weight.loc[var_ido.index.get_level_values(0)]
u=beta.dot(weight)
u

                            Wgt_Port    Wgt_BM   Wgt_Act
SPX Index                   1.357165  1.200504  0.156661
VIX Index                   0.042262  0.022884  0.019378
SPX Index Volume            0.018207  0.011425  0.006782
Energy                      0.046655  0.059532 -0.012876
Materials                  -0.012136  0.035069 -0.047205
Industrials                 0.046277  0.145796 -0.099519
Consumer Discretionary      0.270111  0.220556  0.049555
Consumer Staples            0.150381  0.135506  0.014875
Health Care                 0.241182  0.244296 -0.003114
Financials                  0.244162  0.200445  0.043717
Information Technology      0.628914  0.489981  0.138933
Telecommunication Services  0.339146  0.254260  0.084886
Utilities                   0.079293  0.073904  0.005389
Real Estate                -0.061541  0.003882 -0.065424
Short Interest              0.118066  0.000703  0.117363
USGG10YR Index              1.128755  0.588446  0.540309
USGG12M Index              -0.704588 -0.183330 -0.521259
USO US Equity               0.010655  0.000114  0.010541
CONSSENT Index              0.009886  0.008449  0.001437

In [87]:
# Total risk attribution
F=fac_orth.cov()
def tot_risk_att(weight,beta,F,var_ido):
    TV_sys=weight.Wgt_Port.dot((beta.T)).dot(F).dot(beta).dot(weight.Wgt_Port)*12
    TV_spe=weight.Wgt_Port.dot((var_ido)).dot(weight.Wgt_Port)*12
    TR=np.sqrt(TV_sys+TV_spe)
    return TV_sys, TV_spe,TR
total_risk_att=tot_risk_att(weight,beta,F,var_ido)
total_risk_att

(0.04316029657397171, 0.00045485942337638425, 0.20884241905644574)

In [104]:
def TV_block(weight,beta,F):
    global beta_MKT,beta_SCT,beta_STY,beta_MACRO,F_MKT,F_SCT,F_STY,F_MACRO
    F_MKT=F.loc[np.isin(F.index.values,MKT),MKT]
    beta_MKT=beta.loc[np.isin(beta.index.values,MKT),:]
    TV_MKT=weight.Wgt_Port.dot(beta_MKT.T).dot(F_MKT).dot(beta_MKT).dot(weight.Wgt_Port)*12
    
    F_SCT=F.loc[np.isin(F.index.values,SCT),SCT]
    beta_SCT=beta.loc[np.isin(beta.index.values,SCT),:]
    TV_SCT=weight.Wgt_Port.dot(beta_SCT.T).dot(F_SCT).dot(beta_SCT).dot(weight.Wgt_Port)*12
    
    F_STY=F.loc[np.isin(F.index.values,STY),STY]
    beta_STY=beta.loc[np.isin(beta.index.values,STY),:]
    TV_STY=weight.Wgt_Port.dot(beta_STY.T).dot(F_STY).dot(beta_STY).dot(weight.Wgt_Port)*12
    
    F_MACRO=F.loc[np.isin(F.index.values,MACRO),MACRO]
    beta_MACRO=beta.loc[np.isin(beta.index.values,MACRO),:]
    TV_MACRO=weight.Wgt_Port.dot(beta_MACRO.T).dot(F_MACRO).dot(beta_MACRO).dot(weight.Wgt_Port)*12
    return TV_MKT,TV_SCT,TV_STY,TV_MACRO
TV_b=TV_block(weight,beta,F)
TV_b

(0.04183394411786789,
 0.0012591707502499546,
 2.481412845112933e-05,
 4.236757740285096e-05)

In [91]:
def TV_fct(weight,beta,F):
    TV_i=[]
    for i in range(F.shape[1]):
        F_i=pd.DataFrame(0,F.columns,F.index)
        F_i.iloc[:,i]=F.iloc[:,i]
        TV_i=TV_i+[weight.Wgt_Port.dot(beta.T).dot(F_i).dot(beta).dot(weight.Wgt_Port)*12]
    
    TV_i=pd.Series(TV_i,F.index)
    return TV_i
TV_i=TV_fct(weight,beta,F)
TV_i

SPX Index                     0.051040
VIX Index                    -0.007316
SPX Index Volume             -0.001890
Energy                       -0.000097
Materials                     0.000019
Industrials                  -0.000061
Consumer Discretionary        0.000338
Consumer Staples             -0.000094
Health Care                  -0.000102
Financials                   -0.000305
Information Technology        0.001109
Telecommunication Services    0.000468
Utilities                    -0.000130
Real Estate                   0.000114
Short Interest                0.000025
USGG10YR Index                0.000020
USGG12M Index                -0.000003
USO US Equity                 0.000018
CONSSENT Index                0.000007
dtype: float64

In [114]:
# MCTR
def MCTR_cal(weight,beta,F,var_ido,total_risk_att):
    global V
    V=(beta.T.dot(F).dot(beta)+var_ido)*12
    MCTR=V.dot(weight.Wgt_Port)/total_risk_att[2]
    return MCTR
MCTR=MCTR_cal(weight,beta,F,var_ido,total_risk_att)
MCTR.head()

NAME
A UN Equity       0.183558
AAL UW Equity     0.256077
AAP UN Equity     0.203007
AAPL UW Equity    0.251786
ABBV UN Equity    0.129719
dtype: float64

In [98]:
# Tracking error attribution
def TR_attr(weight,beta,F,var_ido):
    ActV_sys=weight.Wgt_Act.dot(beta.T).dot(F).dot(beta).dot(weight.Wgt_Act)*12
    ActV_spe=weight.Wgt_Act.dot((var_ido)).dot(weight.Wgt_Act)*12
    TE=np.sqrt(ActV_sys+ActV_spe)
    return ActV_sys,ActV_spe,TE
ActV_attr=TR_attr(weight,beta,F,var_ido)
ActV_attr

(0.0007323115944396473, 7.286626644293857e-05, 0.028375656131314143)

In [106]:
def ActV_block(weight,beta,F):
    global beta_MKT,beta_SCT,beta_STY,beta_MACRO,F_MKT,F_SCT,F_STY,F_MACRO
    ActV_MKT=weight.Wgt_Act.dot(beta_MKT.T).dot(F_MKT).dot(beta_MKT).dot(weight.Wgt_Act)*12
    ActV_SCT=weight.Wgt_Act.dot(beta_SCT.T).dot(F_SCT).dot(beta_SCT).dot(weight.Wgt_Act)*12
    ActV_STY=weight.Wgt_Act.dot(beta_STY.T).dot(F_STY).dot(beta_STY).dot(weight.Wgt_Act)*12
    ActV_MACRO=weight.Wgt_Act.dot(beta_MACRO.T).dot(F_MACRO).dot(beta_MACRO).dot(weight.Wgt_Act)*12
    return ActV_MKT,ActV_SCT,ActV_STY,ActV_MACRO
ACT_b=ActV_block(weight,beta,F)
ACT_b

(0.0002204958778722923,
 0.0004685750284994238,
 2.4519536414203312e-05,
 1.8721151653728738e-05)

In [109]:
F.index

Index(['SPX Index', 'VIX Index', 'SPX Index Volume', 'Energy', 'Materials',
       'Industrials', 'Consumer Discretionary', 'Consumer Staples',
       'Health Care', 'Financials', 'Information Technology',
       'Telecommunication Services', 'Utilities', 'Real Estate',
       'Short Interest', 'USGG10YR Index', 'USGG12M Index', 'USO US Equity',
       'CONSSENT Index'],
      dtype='object')

In [112]:
def ActV_fct(weight,beta,F):
    ActV_i=[]
    for i in range(F.shape[1]):
        F_i=pd.DataFrame(0,F.columns,F.index)
        F_i.iloc[:,i]=F.iloc[:,i]
        ActV_i=ActV_i+[weight.Wgt_Act.dot(beta.T).dot(F_i).dot(beta).dot(weight.Wgt_Act)*12]
    
    ActV_i=pd.Series(ActV_i,F.index)
    return ActV_i
ActV_i=ActV_fct(weight,beta,F)
ActV_i

SPX Index                     2.107969e-04
VIX Index                     3.817363e-05
SPX Index Volume             -2.847466e-05
Energy                        2.709473e-05
Materials                     4.903506e-05
Industrials                   1.050123e-04
Consumer Discretionary        4.259666e-05
Consumer Staples             -6.825141e-06
Health Care                   8.318296e-07
Financials                   -4.273124e-05
Information Technology        1.705530e-04
Telecommunication Services    5.449115e-05
Utilities                    -5.341954e-06
Real Estate                   7.385861e-05
Short Interest                2.451954e-05
USGG10YR Index                3.837668e-06
USGG12M Index                -1.094552e-07
USO US Equity                 1.448572e-05
CONSSENT Index                5.072151e-07
dtype: float64

In [116]:
# MCAR
MCAR=V.dot(weight.Wgt_Act)/ActV_attr[2]
MCAR.head()

NAME
A UN Equity       0.017143
AAL UW Equity    -0.052193
AAP UN Equity    -0.014912
AAPL UW Equity    0.216842
ABBV UN Equity   -0.032322
dtype: float64